:root{
    --html: rgb(231, 231, 235);
    --primary: whitesmoke;
    --secondary: rgb(39, 38, 38);
    --btnAlert: rgb(47, 165, 219);
    --btnAlertFont: whitesmoke;
    --span: darkred;
    --logo-path: url('http://127.0.0.1:5500/assets/logo.png');
    --isotipo-path: url('http://127.0.0.1:5500/assets/isotipo.png');
    --firma-path: url('http://127.0.0.1:5500/assets/firma.png');
}
.dark {
    --html: black;
    --primary: rgb(32, 32, 32);
    --secondary: whitesmoke;
    --btnAlert: gold;
    --btnAlertFont: rgb(32, 32, 32);
    --span: rgb(223, 97, 97);
}
html{
    background-color: white;
}
body {
    margin: 12px;
    display: grid;
    background-color: white;
    color: var(--secondary);
    /* font-family: 'Kanit', sans-serif; */
    width: 590px;
    margin-left: auto;
    margin-right: auto;
}
.bodyInt{
    display: flex;
    width: 548px;
    justify-content: center;
    flex-direction: column;
    border: solid black 2px;
    padding: 4px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: small;
}

.inbody-inq, .inbody-prop{
    border: solid black 2px;
    padding: 4px 20px;
}
#firstText{
    font-family: sans-serif;
    margin: 0px;
    margin-bottom: 0px;
}
.cont-info{
    width: 300;
}
.cont-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
}
/* #logo2,#logo3{
    width: 50px;
    height: 80px;
}
#isotipo2,#isotipo3{
    width: 170px;
    height: 44px;
    margin: 20px;
    margin-top: 24px;
} */
#logo2,#logo3{
    display: inline-block;
    background-image: var(--logo-path) !important;
    width: 50px !important;
    height: 80px !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
#isotipo2,#isotipo3{
    display: inline-block;
    width: 170px !important;
    height: 44px !important;
    background-image: var(--isotipo-path)  !important  ;
    margin: 20px !important;
    margin-top: 24px !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.cont-head{
    display: flex;
}
.cont-logo{
    border: 0px solid rgb(129, 128, 128);
    padding: 12px;
}
.cont-data{
    width: 270px;
    margin: 8px;
}
.cont-data p{
    text-align: center;
    height: 12px;
    font-weight: 100;
    margin: 0;
    font-size: 12px;
}
#ad-al{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 4px;
}
.cont-num{
    /* border: solid 1px rgb(145, 143, 143); */
    width: 220px;
    margin-left: 20px;
}
.cont-numero{
    display: flex;
    height: 28px;
    margin: 0px;
    margin-top: 46px;
    margin-bottom: 24px;
}
#numInput{
    margin: 0px;
    width: 70px;
    margin-left: 8px;
}
#num{
    display: flex;
    margin: 0px;
    width: 80px;
}
#fecha{
    display: flex;
    margin: 0px;
    margin-top: 74px;
}
#date{
    margin: 0px;
    margin-left: 12px;
}
#dateProp{
    margin: 0px;
    margin-left: 12px;
}
.recibi p{
    margin-top: 12px;
}
.detalle p, .monto{
    margin: 0px;
}
.inputs{
    margin-bottom: 12px;
}
.inquilino{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.inquilino p{
    margin-top: 4px;
    margin-bottom: 4px;
}
.cont-detalle{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0px;
}
.detalleProp p{
    /* width: 70%; */
    margin-right: 32px;
    margin: 0px;
}
.cuerpo .detalleProp p{
    width: 70%;
    margin: 0px;
}
.cont-detalle-Alq{
    display: flex;
}
.detalle-title{
    margin-bottom: 4px;
}
.detalle, .cuerpo-det{
    width: 70%;
    margin-right: 32px;
    margin: 0px;
}
.monto{
    width: 30%;
    justify-items: right;
}
.cont-detalle-prop, .cont-detalle{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
/* #montoAlqProp, #montoComision{
    display: block;
    width: 20%;
    text-align: end;
    justify-content: end;
    margin: 0px;
} */
#detalleProp{
    width: 70%;
}
#monto-alq,#cont-montos{
    margin: 0px;
    justify-content: right;
    text-align: end;
    width: 35%;
    font-size: 17.7px;
}
.cont-detalle-Comi{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.line-detalle, .line-detalle-prop, .line-detalle-prop-only {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cont-detalle, .cont-detalle-prop, .cont-detalleOP {
    display: flex;
    justify-content: start;
    width: 70%;
}
#cont-det, #cont-det-prop{
    display: flex;
    flex-direction: column;
    max-width: 548px;
    justify-content: space-between;
}
.del-det, .del-detOP {
    display: none;
}
#cont-new-det, #cont-new-det-only-prop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4px;
}
#cont-detalleProp, #cont-detalleOnlyProp{
    width: 70%;
}
#cont-montosProp, #cont-montosOnlyProp{
    width: 30%;
    text-align: end;
    justify-content: end;
    font-size: 17px;
}
.montos{
    width: 30%;
    text-align: end;
}
.montos p{
    display: block;
    text-align: end;
    margin-top: 0px;
}
.cont-totales{
    display: flex;
    justify-content: end;
    margin-top: 24px;
}
.observaciones {
    margin-top: 40px;
}
#total-label{
    margin: 0px;
    margin-right: 16px;
}
.total-text p{
    justify-items: end;
    width: 80%;
    margin-right: 32px;
}
.cont-firma-total{
    display: flex;
    border-top: solid 1px black;
    /* border-bottom: solid 1px black; */
    margin-top: 20px;
}
.cont-total{
    display: flex;
    width: 50%;
    align-items: center;
}
.cont-firma{
    width: 50%;
}
.cont-total-prop {
    display: inline-block !important;
    width: 40% !important;
}
.cont-firma-prop {
    display: inline-block !important;
    width: 40% !important;
}
.cont-title-liq{
    display: flex;
    justify-content: center;
}
#title-liq{
    justify-content: center;
    font-weight: 400;
    margin-top: 28px;
    margin-bottom: 18px;
}
#sitoEnProp{
    border-bottom: 1px solid black;
}
#sitoEnProp p{
    margin-bottom: 4px;
}
#imprimir{
    border: 1px solid black;
    margin-bottom: 24px;
    padding: 12px;
}
#btn, #sumitbtn, #btninq, #btnprop, #imp {
    height: 50px;
    width: 50px;
    background-color: var(--btnAlert);
    color: var(--btnAlertFont);
    border: 0px;
    border-radius: 4px;
    justify-content: end;
}
.buttons{
    margin-top: 20px;
}
#obsProp{
    margin-top: 8px;
}
#firma{
    width: 140px;
    display: block;
}
.logo,.inbody-index,.inputs,#comisionSelect,#imp,#mesAlq,#dateInput,#numInput,
#pesos,#observacionesInput,#observacionesInput,#locador, #observaciones,
#vence,.buttons,.controls,#crearRecibo,#observacionesInputProp, #cont-input-serv{
    display: none;
}
.bodyInt{
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    margin: auto;
    margin-top: 0px;
    padding: 4px 20px;
    font-weight:lighter;
}
#numProp, #dateProp{
    margin: 0px;
}
#mail{
    visibility: visible;
}
.firma {
    display: block;
    background-image: var(--firma-path) !important;
    width: 170px !important;
    height: 74px !important;
    margin-left: -15px;
    margin-top: 12px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
span {
    color: var(--secondary);
    font-family: monospace;
    font-weight: 400;
    font-size: 17px;
    text-align: end;
    word-spacing: 3px;
}
.cont-montos, #montoAlqProp, .cont-montosOP, .montoComi, .total, .cont-montos-prop {
    color: var(--secondary);
    font-family: monospace;
    font-weight: 400;
    font-size: 17.7px;
    text-align: end;
}
#totalDetProp {
    font-size: 17px;
    font-family: monospace;
    font-weight: 400;
    text-align: end;
}