:root{
    --html: rgb(231, 231, 235);
    --primary: whitesmoke;
    --secondary: rgb(39, 38, 38);
    --btnAlert: rgb(47, 165, 219);
    --btnAlertFont: whitesmoke;
    --span: darkred;
}
.dark {
    --html: black;
    --primary: rgb(32, 32, 32);
    --secondary: whitesmoke;
    --btnAlert: gold;
    --btnAlertFont: rgb(32, 32, 32);
    --span: rgb(223, 97, 97);
}
html{
    background-color: var(--html);
}
body {
    display: grid;
    padding: 20px;
    background-color: var(--primary);
    color: var(--secondary);
    font-family: 'Kanit', sans-serif;
    width: 590px;
    margin-left: auto;
    margin-right: auto;
}
#impInq{
    display: flex;
}
.conEmail {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: var(--btnAlert);
    color: var(--btnAlertFont);
    border: 0px;
    border-radius: 4px;
    justify-content: end;
    margin: 0px;
}
#mail{
    height: 50px;
    width: 50px;
    background-color: var(--btnAlert);
    color: var(--btnAlertFont);
    visibility: visible;
    text-decoration: none;
}
h2{
    margin-top: 12px;
    margin-bottom: 12px;
}
.cont-buscar{
    padding-left: 0px;
}
.inq{
    margin-top: 20px;
}
.inq iframe{
    position: absolute;
    left: 0px;
}
#cargar{
    height: 28px;
}
#cabecera{
    display: flex;
    align-items: baseline;
    margin-top: 0px;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 420px;
}
#cabecera h4 {
    margin: 0px;
}
#btnEditar, #btnBorrar, #btnSave, #calc {
    margin-left: 8px;
    height: 24px;
    background-color: var(--btnAlert);
    color: var(--btnAlertFont);
    border: 2px solid transparent;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    transition: border .3s .2s ease, background-color .3s ease;
}
#btnEditar:hover, #btnBorrar:hover, #btnSave:hover, #calc:hover {
    background-color: var(--btnAlertFont);
    color: var(--btnAlert);
    border: 2px solid var(--btnAlert);
    transition: border .3s .2s ease, background-color .3s ease;
}
#calc{
    text-decoration: none;
}
#valor3{
    margin-bottom: 4px;
}
h4{
    margin-top: 24px;
    margin-bottom: 4px;
}
p{
    margin-top: 24px;
    margin-bottom: 4px;
}
span {
    color: var(--span);
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: medium;
}
.cont-montos, .cont-montosOP {
    color: var(--secondary);
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: medium ;
}

/* #themeDiv{
    display: inline-block;
    background-image: url(./assets/btnTheme.png);
    width: 60px;
    height: 25px;

} */
#themeDiv{
    display: flex;
    align-items: center;
}
#theme {
    padding: 0;
    height: 24px;
    width: 44px;
    margin-left: 15px;
    border: 0px;
    border-radius: 55px;
    position: relative;
}
#theme img{
    width: 44px;
    height: 24px;
    object-fit: contain;
    padding: 0;
    margin: 0;
    justify-content: center;
    border-radius: 22px;
    position: absolute;
    left: 0px;
    top: 0px;
}
#randomColor{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: none;
    background-color: var(--btnAlert);
    margin-left: 12px;
}
#operaciones {
    border: var(--btnAlert) solid 1px;
    border-radius: 4px;
    padding: 16px;
    margin-top: 12px;
    margin-bottom: 44px;
    width: 420px;
}
#btn{
    height: 24px !important;
}
#personas {
    width: 440px;
}
.subirArchivos{
    margin-top: 12px;
    margin-bottom: 12px;
}
.contSubArch{
    display: flex
}
.contSubArch label {
    width: 80px;
    height: 30px;
    align-items: baseline;
}
#sumitbtn, #btninq, #btnprop {
    height: 50px;
    width: 50px;
    background-color: var(--btnAlert);
    color: var(--btnAlertFont);
    border: 0px;
    border-radius: 4px;
    justify-content: end;
}
#depto{
    display: grid;
    gap: 16px;
    justify-content: space-between;
    margin-right: 10px;
}
.att-dep{
    display: flex;
}
.col-dep input{
    display: grid;
    margin-right: 10px;
    flex-direction: column;
    width: 170px;
    margin-top: 4px;
}
.col-dep{
    flex-direction: row;
    width: 220px
}
.serv_tax_gral_cont {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 8px 0 0 0;
    padding: 0px;
}
.serv_tax {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.serv_tax input[type='checkbox'] {
    accent-color: #058adc;
}
.service-tax-item input[type='checkbox'] {
    accent-color: #db2f2f;
}
.cont_check_serv_tax {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    justify-content: flex-end;
}
.cont_check_serv_tax label {
    font-weight: 100;
    font-size: small;
    margin: 0px;
    padding: 0px;
}

input :not(input[type="button"]) {
    width: 140px;
    height: 22px;
    margin: 16px;
}

.modal-background {
    background: #020a14d1;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: block;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}
.modal-background.is-visible {
    opacity: 1;
    visibility: visible;
    display: block;
    transition: opacity 0.4s ease;
}
.modal {
    background: #fff;
    opacity: 1;
    width: 600px;
    height: 60%;
    border-radius: 8px;
    box-shadow: 2px 2px 20px 1px;
    max-width: 600px;
    margin: 120px auto auto;
    position: relative;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.content-services {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.cont-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}