:root{
    --html: rgb(231, 231, 235);
    --primary: whitesmoke;
    --secondary: rgb(39, 38, 38);
    --btnAlert: rgb(47, 165, 219);
    --btnAlertFont: whitesmoke;
    --span: darkred;
}
.dark {
    --html: black;
    --primary: rgb(32, 32, 32);
    --secondary: whitesmoke;
    --btnAlert: gold;
    --btnAlertFont: rgb(32, 32, 32);
    --span: rgb(223, 97, 97);
}
html{
    background-color: var(--html);
}
body {
    margin-top: 0;
    display: grid;
    padding: 20px;
    background-color: var(--primary);
    color: var(--secondary);
    font-family: 'Kanit', sans-serif;
    width: 590px;
    margin-left: auto;
    margin-right: auto;
}
#impInq{
    display: flex;
}
.conEmail {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: var(--btnAlert);
    color: var(--btnAlertFont);
    border: 0px;
    border-radius: 4px;
    justify-content: end;
    margin: 0px;
}
#mail{
    height: 50px;
    width: 50px;
    background-color: var(--btnAlert);
    color: var(--btnAlertFont);
    visibility: visible;
    text-decoration: none;
}
h2{
    margin-top: 12px;
    margin-bottom: 12px;
}
.cont-buscar{
    padding-left: 0px;
}
#buscar-Data-Recibos-btn {
    margin-left: 8px;
}
.inq{
    margin-top: 20px;
}
.inq iframe{
    position: absolute;
    left: 0px;
}
#cargar{
    height: 28px;
}
#cabecera{
    display: flex;
    align-items: baseline;
    margin-top: 0px;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 420px;
}
#cabecera h4 {
    margin: 0px;
}
#btnEditar, #btnBorrar, #btnSave, #calc, .cont-btn button, #buscar-deuda-btn {
    margin-left: 8px;
    height: 24px;
    background-color: var(--btnAlert);
    color: var(--btnAlertFont);
    border: 2px solid transparent;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    transition: border .3s .2s ease, background-color .3s ease;
}
#btnEditar:hover, #btnBorrar:hover, #btnSave:hover, #calc:hover,
 .cont-btn button:hover, #buscar-deuda-btn:hover {
    background-color: var(--btnAlertFont);
    color: var(--btnAlert);
    border: 2px solid var(--btnAlert);
    transition: border .3s .2s ease, background-color .3s ease;
}
#calc{
    text-decoration: none;
}
#valor3{
    margin-bottom: 4px;
}
h4{
    margin-top: 24px;
    margin-bottom: 4px;
}
p{
    margin-top: 24px;
    margin-bottom: 4px;
}
span {
    color: var(--span);
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: 17.7px;
}
.cont-montos, .cont-montos-prop, .cont-montosOP {
    color: var(--secondary);
    font-family: Roboto Mono;
    font-weight: 500;
    font-size: 17.7px;
}

/* #themeDiv{
    display: inline-block;
    background-image: url(./assets/btnTheme.png);
    width: 60px;
    height: 25px;

} */
#themeDiv{
    display: flex;
    align-items: center;
}
#theme {
    padding: 0;
    height: 24px;
    width: 44px;
    margin-left: 15px;
    border: 0px;
    border-radius: 55px;
    position: relative;
}
#theme img{
    width: 44px;
    height: 24px;
    object-fit: contain;
    padding: 0;
    margin: 0;
    justify-content: center;
    border-radius: 22px;
    position: absolute;
    left: 0px;
    top: 0px;
}
#randomColor{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: none;
    background-color: var(--btnAlert);
    margin-left: 12px;
}
#operaciones {
    border: var(--btnAlert) solid 1px;
    border-radius: 4px;
    padding: 16px;
    margin-top: 12px;
    margin-bottom: 44px;
    width: 420px;
}
#btn{
    height: 24px !important;
}
#personas {
    width: 440px;
}
.cont-datos_bancarios {
    display: flex;
    padding: 4px 0;
}
#desplegar_datos_bancarios {
    width: 177px;
}
.subirArchivos{
    margin-top: 12px;
    margin-bottom: 12px;
}
.contSubArch{
    display: flex
}
.contSubArch label {
    width: 80px;
    height: 30px;
    align-items: baseline;
}
#sumitbtn, #btninq, #btnprop {
    height: 50px;
    width: 50px;
    background-color: var(--btnAlert);
    color: var(--btnAlertFont);
    border: 0px;
    border-radius: 4px;
    justify-content: end;
}
#depto{
    display: grid;
    gap: 16px;
    justify-content: space-between;
    margin-right: 10px;
}
.att-dep{
    display: flex;
}
.col-dep input{
    display: grid;
    margin-right: 10px;
    flex-direction: column;
    width: 170px;
    margin-top: 4px;
}
.col-dep{
    flex-direction: row;
    width: 220px
}
.serv_tax_gral_cont {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 8px 0 0 0;
    padding: 0px;
}
.serv_tax {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
}
.service-tax-item input[type='checkbox'] {
    accent-color: #db2f2f;
}
.serv_tax input[type='checkbox'], .content-services input[type='checkbox'] {
    accent-color: #058adc;
}
.cont_check_serv_tax {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    justify-content: flex-end;
}
.cont_check_serv_tax label {
    font-weight: 100;
    font-size: small;
    margin: 0px;
    padding: 0px;
}

input :not(input[type="button"]) {
    width: 140px;
    height: 22px;
    margin: 16px;
}
.cont-search-serv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 0 0;
    padding: 0px;
    gap: 1rem;
}
#buscar-deuda-btn {
    margin: 0;
}
#buscar-deuda {
    width: 50%;
    height: 18px;
}

.modal-background, .modal2-background {
    background: #020a14d1;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: block;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}
.modal-background.is-visible,
.modal2-background.is-visible {
    opacity: 1;
    visibility: visible;
    display: block;
    transition: opacity 0.4s ease;
}
.modal, .modal2 {
    background: #fff;
    opacity: 1;
    width: 480px;
    height: auto;
    max-height: 400px;
    border-radius: 8px;
    box-shadow: 2px 2px 20px 1px;
    margin: 50px auto auto;
    position: relative;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    top: -800px;
    transition: top 0.4s ease;
}
.modal-background.is-visible .modal,
.modal2-background.is-visible .modal2 {
    top: 0px;
    transition: top 0.4s ease;
}
.logo-serv {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    margin: 20px 0;
}
#title-modal-h3, #title-modal2-h3 {
    margin: 12px 0;
}
#cont-direction-serv-impagos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 20px;
}
#cont-direction-serv-impagos p {
    margin-top: 12px;
}
#serv-impagos-direccion-title, #data-bancaria-direccion-title {
    font-family: sans-serif;
    font-weight: 100;
}
#serv-impagos-direccion, #data-bancaria-direccion {
    font-weight: normal;
}
.content-services {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 20px;
    margin: 16px 0;
    justify-content: start;
    align-items: center;
    width: 400px;
}
.content-services::-webkit-scrollbar,
.cont-data-form::-webkit-scrollbar {
    width: 4px;
}
.content-services::-webkit-scrollbar-track,
.cont-data-form::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.content-services::-webkit-scrollbar-thumb,
.cont-data-form::-webkit-scrollbar-thumb {
    background: #aaa;
}
.content-services::-webkit-scrollbar-thumb:hover,
.cont-data-form::-webkit-scrollbar-thumb:hover {
    background: rgb(114, 189, 224);
}

.cont-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 64px;
}

.card-data-recibo {
    background: #f8f6f4;
    border-radius: 8px;
    padding: 8px 16px;
    width: 300px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-content-data-recibo {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.card-content-data-recibo p {
    margin: 0;
}
/* modal2 */
#bancoForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px 0 0;
    margin: 16px 0 0;
    align-items: center;
    gap: 1rem;
}
.cont-data-form {
    overflow-y: scroll;
    width: auto;
    height: 180px;
    width: auto;
    min-width: 340px;
}
.form-group-id {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    height: 32px;
}
.form-group-id p, .form-group-id span {
    margin: 0;
    text-align: center;
    width: 100px;
}
.form-group {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    height: 32px;
}
.form-group input {
    width: 200px;
}
.form-group select {
    width: 209px;
}
.form-group input, .form-group select, #limpiar-form, #update-modal2 {
    display: none;
    visibility: hidden;
}
.banco-form.actualizar .form-group input,
.banco-form.actualizar .form-group select,
.banco-form.actualizar #limpiar-form,
.banco-form.actualizar #update-modal2 {
    display: block;
    visibility: visible;
}
.banco-form.actualizar #refresh-modal2 {
    display: none;
    visibility: hidden;
}
.banco-form.actualizar .form-group {
    justify-content: space-between;
    padding-right: 20px;
}
.db-value {
    display: flex;
    margin: 0;
    visibility: visible;
    /* position: absolute;
    right: 60px; */
    margin-right: 30px;
}
.banco-form.actualizar .db-value {
    display: none;
    visibility: hidden;
}